<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiKey" value="your_api_key_here" />
		<add key="LogLevel" value="Debug" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=localhost;Database=furniro;Trusted_Connection=True;User Id=furniro;Password=furniroAdmin;" />
	</connectionStrings>
</configuration>